%button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  padding: sizeRem(16) sizeRem(42);
  border-radius: 25px;
}

%link {
  display: block;
  text-decoration: none;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%bg-image-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%image-before {
  content: "";
  display: block;
  margin: 0 auto;
}

%border-colorful {
  background: linear-gradient(90deg,
    #fc5f45 0%, #fc5f45 25%,
    #38c695 25%, #38c695 50%,
    #b27cf5 50%, #b27cf5 75%,
    #feb960 75%, #feb960 100%);
}