// COLORS
$primary-dark-color: #313131;
$primary-grey-color: #616161;
$primary-white: #ffffff;
$secondary-dark-color: #272727;

$bgc-grey: #f7f7f7;

$accent-green-color: #38c695;
$accent-violet-color: #b27cf5;
$accent-orange-color: #feb960;
$accent-red-color: #fc5f45;