.site-menu {
  @extend %list;
  @include flex-center ($hor: space-between);
  font-family: $primary-font;
  font-size: sizeRem(14);
  font-weight: 600;
  min-width: 736px;
}

.site-menu__link {
  @extend %link;
  @include flex-center ($hor: space-between);
  color: $secondary-dark-color;
  transition: color 0.3s linear;

  &:hover,
  &:focus {
    color: $accent-red-color;
  }
}
