.team-item__hidden {
  min-height: 400px;
  background-image: url(../../images/6.our-team/1Background-for-socials.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 114px 100px 76px;
}

.team-item__profile {
  display: flex;
  justify-content: space-between;
}

.team-item__title {
  color: $secondary-dark-color;
  font-family: $primary-font;
  font-size: sizeRem(20);
  font-weight: 500;
  margin-bottom: sizeRem(34);
  text-align: left;
}

.team-item__desc {
  width: 634px;
  text-align: left;
  color: $primary-grey-color;
  font-family: $primary-font;
  font-size: sizeRem(15);
  font-weight: 400;
  line-height: 27px;
}

.team-item__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team-item__link {
  @extend %link;
  color: $primary-grey-color;
  font-family: $primary-font;
  font-size: sizeRem(15);
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: sizeRem(18);
  }
}